/*item*/
li {
    list-style: none;
    line-height: 36px;
    padding: 0 5px;
    border: 1px solid #ddd;
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  li button {
    float: right;
    display: none;
    margin-top: 3px;
    margin-left: 5px;
  }
  
  li:before {
    content: initial;
  }
  
  li:last-child {
    border-bottom: none;
  }

  li:hover button{
    display: inline;
  }

  .dtn {
    float: right;
  }

  .btn-danger {
    color: #fff;
    background-color: #da4f49;
    border: 1px solid #bd362f;
  }

  .btn {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  
.btn-danger:hover {
  color: #fff;
  background-color: #bd362f;
}

.hidden {
  display: none;
}

li:hover .dtn{
  display: flex;
  float: right;
}

li:hover {
  background-color: #ddd;
}